<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>repl.it</title>
        <script src="index.js"></script>
         <link rel="stylesheet" href="/assets/register.css" rel="stylesheet">
    </head>
    <body>
      <h2> Fennex Travel</h2>
      <img src="http://www.clker.com/cliparts/d/c/a/2/11949843562058740961world_map_saint_.svg.hi.png" style="width:600px;height:295px;">
      <h1> Edit Profile </h1>
      
<form action="users/<%=id %>/edit">
 <br>
 <h3> Enter contact information</h3>
  <input type="text" name="email" placeholder="Contact Email"/><br><br> 
      <input type="text" name="location" placeholder="Enter location"/>
<br><br> 
 <input type="text" name="birthday" placeholder="Birthday"/><br> <br> 
   <input type="text" name="cellphone" placeholder="Enter cellphone"/><br><br>
    <input type="text" name="business" placeholder="Enter business or employer"/>
  
  <input type="submit" value="Save">
    </body>
</html>