<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>repl.it</title>
        <link rel="stylesheet" href="/assets/register.css" rel="stylesheet">
    </head>
    <body>
      <h2>Fennex Travel</h2>

    <dev id="welcome">Create Your Account!</dev>
      <%if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p><%= error%></p>
        <%end%>
      <%end%> 
<form action="users" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"> 
 <br>
  <input type="text" name="username" placeholder="USERNAME"/><br>
      <input type="text" name="email" placeholder="EMAIL"/>
<br>
 <input type="password" name="password" placeholder="PASSWORD"/><br>
   <input type="password" name="password_confirmation" placeholder="RE-ENTER PASSWORD"/><br><br>
    <input type="radio" name="agree" value="true" >I agree to the terms and conditions<br>
  <input type="submit" value="Sign Up">
</form>

    </body>
</html>