<!DOCTYPE html>
<html>

    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>repl.it</title>
        <script src="index.js"></script>
        <link rel="stylesheet" href="/assets/editevent.css" rel="stylesheet">
    </head>
    <body>
      <p1>Edit Event</p1>
     
<form action='/event/<%= params[:id]%>' method='post'>
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
<input type="hidden" name="_method" value="put">

 <br>
  <h1> General Information</h1>
  <br>
  <input type="text" name="name" placeholder="Name of the event">
<br><br>
    <input type="text" name="location" placeholder="Location of the event"/>
    <!-- <input type="date" name="date" placeholder="Dates of the event"/> -->
<br><br>
    <input type="date" name="time" placeholder="Time of the event"/>
<br><br>
    <input type="text" name="info" placeholder="Information about the event"/>
<br><br>
    <input type="submit" value="Save event">
    </form>
    </body>
</html>