<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>repl.it</title>
        <script src="index.js"></script>
        <link href="editevent.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
      <p1>Edit Event</p1>
     
<form action="action_page.php">
 <br>
  <h1> General Information</h1>
  <br><br>
      <input type="text" name="location" placeholder="Enter location"/>
<br><br> 
   <input type="text" name="Date" placeholder="Date"/><br><br>
    <input type="text" name="business" placeholder="Enter business or employer"/>
  <br><br>
  <input type="text2" name="Information" placeholder="INFORMATION"/><br><br> 
  <input type="submit" value="Save">
    </body>
</html>