<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>repl.it</title>
        <script src="index.js"></script>
       <link rel="stylesheet" href="/assets/index.css" rel="stylesheet">
    </head>
    <body>
      
<h1> Index Page </h1>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<center>
<button> <a href="/users/2">Profile Page</a> </button>
<br>
<br>
<button> <a href="login">Login</a> </button>
<br>
<br>
<button> <a href="users/:id">Edit Event</a> </button>

<br>
<br>
<br>
<br>
<br><br>
<br>
<h3> <%= @user %></h3>
</center>




    </body>
</html>