<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>repl.it</title>
        <script src="index.js"></script>
       <link rel="stylesheet" href="/assets/index.css" rel="stylesheet">
    </head>
    <style>
body {
        background-image: url("http://i.imgur.com/LDwSGAa.jpg") ;
      ;
} 
 
</style>
      <h1> <a href="http://imgur.com/dOpBjRd"><img src="http://i.imgur.com/dOpBjRd.png" title="source: imgur.com" /></a></h1>
      <p> </p>
  
    <h2> 
Where your adventure starts... 
    <br>
      <button> <a href="/login">Login</a> </button></a> <button><a href="/register">  Sign Up</a></button> 
      <br>
      
    MMXVII</h2>

      <div class="border"> </div>
  <body>
<div id="page-container">
</div>
      <br>
       <br>
        <div style="text-align: center;"><img src="https://s-media-cache-ak0.pinimg.com/736x/bc/ab/7a/bcab7a927b89e32fbb4073654a0a6c7b.jpg" style=80%;"></div>
      </centerimages>
    </body>
</html>