.menu-icon {
    background: none;
    cursor: pointer;
    float: right;
    height: 24px;
    right: 30px;
    margin: 0;
    position: fixed;
    top: 26px;
    width: 26px;
    z-index: 100000;
}

body {
    background: #F3F3F3;
    color: #212121;
    font-family: 'proxima-nova', sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 22px;
    text-transform: uppercase;
    background-repeat: repeat-x;
}

.border.bottom.left{
  bottom: 26px;
    display: block;
    left: 30px;
    position: fixed;
    transform: none;
    z-index: 1;
}
.border.bottom.right {
    bottom: 26px;
    position: fixed;
    right: 30px;
    top: inherit;
    transform: none;
    z-index: 1;
}