
h3 {
  text-align: center;
}

h1 {
  background-color:#F3F3F3;
  border-style: outset;
  border-width: 1px;
  border-color:#212121;
 font-family: 'proxima-nova', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 22px;
    text-transform: uppercase;
  adding: 40px;
  argin: 1 auto;
  background: #F3F3F3;
  text-align: center;
  
}

.text {
  background-color:#F3F3F3;
 font-family: 'proxima-nova', sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 22px;
    text-transform: uppercase;
    text-align:center;
}

div {
  display: block;
}

space {
padding: 100px 100px 100px 100px;
margin: 0 auto;
}
button {
   background-color:#F3F3F3;
  border-style: outset;
  border-width: 1px;
  border-color: #212121;
  font-family: 'proxima-nova', sans-serif;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 22px;
    text-transform: uppercase;
}
 
h2 {
    background-color:#F3F3F3;
  border-style: outset;
  border-width: 1px;
  border-color: #212121;
 font-family: 'proxima-nova', sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 22px;
    text-transform: uppercase;
  padding: 20px;
  margin: 1 auto;
  text-align: center;
}


body {
  
    color: #212121;
    font-family: 'proxima-nova', sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 22px;
    text-transform: uppercase;
    background-repeat: ;
  background:url(http://imgur.com/0KvzpyQ);
}


p{
  text-align:center;
}

p3 {
  display: block;
  text-align:center;
}

p2 {
 display: block;
text-align:center;
}