<!DOCTYPE html>
<html>
<head>
  <title>Fennex</title>
  
 <link rel="stylesheet" href="/assets/application.css" rel="stylesheet">
</head>
<body>

<%= yield %>
<div class="menu-icon">
        Menu <div class="lines"></div>
 <a href="/logout">LOGOUT</a>
 <a href="/main">Home</a

        <div class="text"></div>
 <footer> 
    <div class="border bottom right">
      
    </div>
    </footer>
</body>
</html>
